* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #c4694d, #2a2f45);
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Carta */
.carta {
  background:linear-gradient(135deg, rgb(189, 95, 95), rgb(189, 94, 176));
  width: 100%;
  max-width: 100%;
  padding: 28px 22px;
  border-radius: 14px;
  box-shadow: 0 20px 45px rgba(0,0,0,0.45);
  position: relative;
  animation: surgir 1.2s ease;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #812db1;
}

p {
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;
  white-space: pre-line;
}

.assinatura {
  margin-top: 30px;
  text-align: right;
  font-size: 18px;
  font-style: italic;
  color: blue;
}

/* Emojis */
.emoji {
  position: fixed;
  width: 55px;
  opacity: 0.75;
  pointer-events: none;
  animation: flutuar 4s ease-in-out infinite;
}

.top-left {
  top: 15px;
  left: 15px;
}

.top-right {
  top: 15px;
  right: 15px;
  animation-delay: 1s;
}

.bottom-left {
  bottom: 15px;
  left: 15px;
  animation-delay: 2s;
}

.bottom-right {
  bottom: 15px;
  right: 15px;
  animation-delay: 3s;
}

/* Animações */
@keyframes surgir {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flutuar {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

/* 🖥️ Desktop (adaptação automática) */
@media (min-width: 768px) {
  body {
    padding: 40px;
  }

  .carta {
    max-width: 720px;
    padding: 45px;
  }

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 18px;
  }

  .emoji {
    width: 75px;
    opacity: 0.85;
  }
}
/* Envelope */
.envelope {
  width: 260px;
  height: 180px;
  position: relative;
  cursor: pointer;
}

.frente {
  width: 100%;
  height: 100%;
  background: #e6e3dc;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}

.tampa {
  width: 100%;
  height: 100%;
  background: #d8d4cb;
  position: absolute;
  transform-origin: top;
  clip-path: polygon(0 0, 100% 0, 50% 55%);
  z-index: 3;
  transition: transform 1.8s ease-in-out;

}

.hint {
  position: absolute;
  bottom: -35px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #eee;
  opacity: 0.8;
}

/* Animação abrir */
.envelope.aberto .tampa {
  transform: rotateX(180deg);
}

/* Carta escondida */
.escondida {
  display: none;
}
